* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 26% 39% 35%;
}

.options-menu {
    width: 100%;
    border-right: 1px solid #e8e8e8;
    height: 760px;
}

.options-center {
    width: 75%;
    margin: 0 auto;
}

.logo {
    padding: 4% 0 4% 37%;

}

.logo i{
    font-size:33px;
    color: #00a7ff;
}

.option{
    display: grid;
}

.option div a  {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    padding: 12px 15px;
    border-radius: 30px;
    color: black;
}



.option div{
    padding: 2% 0 8% 31%;
}


.option div a i {
    padding: 2 20px 0 0;
    font-weight: 100;
}

.option div a:hover {
    color: aqua;
    background: #e1f5ff;
}

.option button {
    padding: 15px 80px;
    border-radius: 30px;
    background:#00a7ff ;
    color: white;
    border: none;
    font-weight: 600;
    font-size:16px;
    cursor: pointer;
}

.option button:hover {
    background: #00a7ff;
    transition: 0.1s;
}

.content-menu {
    width: 100%;
    border-right: 1px solid #e8e8e8;
}

.prefer  {
    width: 100%;
    height: 55px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e8e8e8;
    position: sticky;
    top: 0;
    background: white;
    /* z-index: 1000; */
}

.prefer span a {
    text-decoration: none;
    font-weight: 800;
    color: black;
    font-size: 18px;
}

.prefer span i {
    font-size: 18px;
    color: #00a7ff;
}

.your-tweet-other-tweet {
    max-height:  704px;
}

.your-tweet-other-tweet:hover {
    overflow: auto;
}

.you-tweet {
    display: block;
    width: 100%;
    border-bottom: 10px solid #e8e8e8;
    height: 130px;
}


.profile-message {
    display: flex;
    flex-wrap: wrap;
    align-items:  center;
    padding: 10px 15px;
}

.profile-message img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.9;

}

/* .gambar {
    width: 100px;
    height: 100px;
} */

.profile-msg img {
    width: 150px;
    height: 150px;
}





